<ion-tabs>
  <ion-tab-bar slot="bottom" class="nets-tab-bar">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pay" href="/tabs/pay">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Pay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travel" href="/tabs/travel">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Travel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rewards" href="/tabs/rewards">
      <ion-icon name="gift-outline"></ion-icon>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payogotchi" href="/tabs/payogotchi">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Payogotchi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
