.nets-logo-img {
  display: block;
  width: auto;
  object-fit: contain;
  background: transparent;
}

.nets-logo-sm {
  height: 18px;
}

.nets-logo-md {
  height: 28px;
}

.nets-logo-lg {
  height: 34px;
}
